<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>Q&A</h4>
  </div>

  <div class='row mt-3'>
    <div class="col-4 input-group">
      <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力"></input>
      <span class="input-group-btn input-group-append">
        <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
      </span>
    </div>

    <div class=" col-4 dropdown text-center">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        カテゴリー検索
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @categories.each do |category| %>
          <%= link_to category.category_name, questions_path, class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>

    <div class='col-4 text-center'>
      <%= link_to '一覧を見る', questions_path, class: 'btn btn-outline-dark pl-5 pr-5' %>
    </div>
  </div>

</div>