<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習記録一覧</h4>
  </div>

  <div class='row mt-3'>
    <div class='col-3'>
      <p>総学習時間</p>
    </div>

    <div class='col-3'>
      <p>今月</p>
    </div>

    <div class='col-3'>
      <p>先月</p>
    </div>

    <div class='col-3'>
      <div>
        <p>表示年月日</p>
      </div>
    </div>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <thead>
        <tr>
          <th style='width: 30%'>日付</th>
          <th style='width: 20%'>曜日</th>
          <th style='width: 30%'>学習時間</th>
          <th style='width: 20%'></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class='text-center'><%= link_to '詳細', edit_admin_category_path(category), class: 'btn btn-success btn-sm  pl-5 pr-5' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>