<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習時間打刻</h4>
  </div>

  <div class='row mt-3'>
    <div class ='col-8'>

    </div>

    <%= form_with model: @learning_record, url: learning_records_path, method: :post, local: true do |f| %>
      <div class='col-4'>
        <%= f.submit '開始', class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= form_with model: @learning_record, url: learning_records_path, method: :patch, local: true do |f| %>
      <div class='col-4'>
        <%= f.submit '終了', class: 'btn btn-success' %>
      </div>
    <% end %>

  </div>

</div>